<h1>Users List</h1>


<table class="table table-boldered">
  <thead>
    <tr>
      <td> # <span class="badge"><%= @users.count %></span></td>
      <td> 用户邮箱 </td>
      <td>

      </td>
      <td> 最后登陆日期 </td>
      <td> 创建日期 </td>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
    <tr>
      <td>
        <%= user.id %>
      </td>
      <td>
        <%= user.email %>
        <%= render_is_admin(user) %>
      </td>
      <td>
        <% if user.is_admin %>
          <%= link_to("set user customer", setUserCustomer_admin_user_path(user), method: :post, class: "btn btn-default") %>
        <% else %>
          <%= link_to("set user admin", setUserAdmin_admin_user_path(user), method: :post, class: "btn btn-primary", data: {confirm: "set this user admin?"}) %>
        <% end %>
      </td>
      <td>
        <%= user.last_sign_in_at %>
      </td>
      <td>
        <%= user.created_at %>
      </td>
    </tr>
    <% end %>

  </tbody>
</table>
